body{
    background-color: black; 
    /* background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    color: white;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg::before {    
    content: "";
    background-image: none;
    /* background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}
#header{
    margin: 0px auto 10px auto;
    position: sticky;
    top: 0%;
    background-color: black;
    z-index: 101;
}

.navbar{
    height: 10vh;
    /* background-color: black; */
    /* border-bottom: 2px solid #7f40d6; */
    top: 0%;
    margin: 0px;
}
#navlist{
    list-style-type: none;
    margin: 0;
    padding-top: 2%;
    /* padding-left: 4%; */
    padding: auto;
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px 200px 150px; */
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: left;
    text-align: center;
}

.navbar ul li a{
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    transition: all .5s;
}

.navbar ul li a:after,
.navbar ul li a:before {
  transition: all .5s;
}



.navbar ul li a {
    position:relative;
    z-index: 1;
    
}
.navbar ul li a:hover {
    color: black;   
}
.navbar ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    /* background: #F1C40F; */
    /* background: #8846e3; */
    background: #16a42b;
    /* border-radius: 50%; */
    border-radius: 2%;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
.navbar ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}


#focussed{
    background: #16a42b;
    color: black;
    border-radius: 2%;
}







.header-cont{
    margin: 10% 18%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header-title{
    font-size:3em;
    margin-top: 0;
}


#sec-color{
    color: #16a42b; 
    /* color: #7f40d6;  */     
    /* color: #8846e3; */
    /* color:  #F1C40F; */
    /* color: #fcc603; */
    /* color: #fca503; */
    /* color: #0c96f2; */
    /* color: #a56afc; */
}
.social-links{
    margin: 30px auto;
}
.social-links a{
    /* padding-right: 10px; */
    margin-right: 15px;
}

.header-resume{
    font-size: x-large;
}

.header-resume a{
    text-decoration: none;
    color: #1fd13a;
}

.smalllogo{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}

.smalllogo:hover{
    background: gray;
}

.photo-cont{
 float: right;
 margin: auto;
}

.photo{
    height: 35vh;
    /* width: 350px; */
    border-radius: 50%;
    border: 1px solid #16a42b;
}

#resume{
    margin: 20px 10%;
    height: 86vh;
    width: 80%;
}


.cardlist{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Education and exp cards */


.card{
    padding: 20px;
    margin: 0px 10vw;
    height: auto;
    width: 40vw;
    border: 3px solid #107a20;
    border-radius: 1.5%;
    display: grid;
    grid-template-columns: 30% 70%;
    background: white;
    /* background: rgb(210, 210, 210); */
    justify-content: left;
    align-content: center;
    align-items: center;
    transition: transform 0.5s;

    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid #16a42b;
    border-right: 2vw solid #16a42b;
}

.card:hover{
    transform: scale(1.05);
    /* background-color: white; */
    /* box-shadow: 8px 8px 15px -1px rgba(16,122,32,0.92);
    -webkit-box-shadow: 8px 8px 15px -1px rgba(16,122,32,0.92);
    -moz-box-shadow: 8px 8px 15px -1px rgba(16,122,32,0.92); */
}

#card-right{
    align-self: flex-end;
}

#card-left{
    align-self: flex-start;  
}

.card-image{
    height: auto;
    width: 10vw;

}



.card-title{
    /* color: white; */
    color: black;
    text-align: left;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
}

.card-subtitle{
    color: gray;
    text-align: left;
    font-size: large;
}

.card-subsubtitle{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: large;
}

.card-content{
        color: black;
}

.card-content ul{
    list-style: circle;
    padding: 15px ;
}

.card-content ul li a{
    text-decoration: none;
    color: darkblue;
}


/* -------------   Design -------------- */

 
.vertical-line {
    border-left: 3px solid #107a20;
    height: 30px;
    left: 50%;
    z-index: -10;
}

.circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 3px solid;
    /* position: relative; */
    border-color: #107a20;
    z-index: -10;
}

.horizontal-line {
    border-top: 3px solid #107a20;
    width: 20vw;
    z-index: -10;
}

.horizontal-line-long {
    border-top: 3px solid #107a20;
    width: 30vw;
    z-index: -10;
}

.horizontal-line-long2 {
    border-top: 3px solid #107a20;
    width: 40vw;
    z-index: -10;
}

/*------------------- Projects ---------------*/

.project-cardlist{
    margin: 40px 5vw 40px 0px;
    display: flex;
    flex-direction: column;
}

.project-container{
    width: 66vw;
    margin: 20px 20px 20px 0px;
}

.left-cont{
    display: grid;
    grid-template-columns: 10vw 56vw;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
}

.right-cont{
    display: grid;
    grid-template-columns: 30vw 56vw;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
}

.project-design{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.project-card{
    padding: 20px;
    /* margin: 0px 10vw; */
    height: auto;
    width: 50vw;
    border: 3px solid #107a20;
    border-radius: 1.5%;
    /* background: white; */
    background: rgb(210, 210, 210);
    align-content: center;
    align-items: center;
    transition: transform 0.5s;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid #16a42b;
    border-right: 2vw solid #16a42b;
}

.left-cont:hover > .project-card{
    transform: translateX(10vw);
    background-color: white;
}

.right-cont:hover > .project-card{
    transform: translateX(-10vw);
    background-color: white;
}

.project-card-title{
    color: black;
    text-align: center;
    font-size: larger;
    margin-bottom: 1vh;
    text-transform: uppercase;
    font-weight: bold;
}

.project-card-subtitle{
    color: gray;
    text-align: center;
    font-size: medium;
   
}

.project-card-subsubtitle{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
}

.project-card-content{
        color: black;
        margin: 1vh 1vw;
}

.project-card-content h4{
    margin-bottom: 0px;
}

.project-card-content ul{
    list-style: circle;
    padding: 0.5vh 0.5vw;
}

.project-card-content ul li a{
    text-decoration: none;
    color: darkblue;
}



/* Achievements */

.award-container{
    width: 76vw;
    margin: 20px 20px 20px 0px;
    display: grid;
    grid-template-columns: 10vw 66vw;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
}

.award-container2{
    width: 86vw;
    margin: 20px 20px 20px 0px;
    display: grid;
    grid-template-columns: 20vw 66vw;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
}

.award-container3{
    width: 96vw;
    margin: 20px 20px 20px 0px;
    display: grid;
    grid-template-columns: 30vw 66vw;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
}


.award-card{
    height: auto;
    width: 60vw;
    border: 3px solid #107a20;
    border-radius: 1.5%;
    /* background: white; */
    background: rgb(210, 210, 210);
    align-content: center;
    align-items: center;
    transition: transform 0.5s;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    /* border-left: 1.5vw solid #16a42b; */
    border-right: 1.5vw solid #16a42b;
}
.award-card:hover{
    transform: scale(1.05);
}

.award-container:hover > .award-card{
    /* transform: translateX(10vw); */
    background-color: white;
}
.award-container2:hover > .award-card{
    /* transform: translateX(10vw); */
    background-color: white;
}
.award-container3:hover > .award-card{
    /* transform: translateX(10vw); */
    background-color: white;
}

.award-card-content{
        color: black;
        margin: 0.5vh 1vw;
        display: grid;
        grid-template-columns: 5% 95%;
        /* justify-content: center; */
        align-items: center;
}

.award-emoji{
    font-size: large;
}

.award-card-content ul{
    list-style: circle;
    padding: 0.5vh 0.5vw;
}

.award-card-content ul li a{
    text-decoration: none;
    color: darkblue;
}



/* Mobile css */
@media only screen and (max-width: 1100px) {

    /* home */

    #header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .header-cont{
        /* margin: 10% 5%; */
        margin: auto;
        grid-template-columns:auto;
        align-items: center;
        justify-content: center;
    }
    .header-cont div h1,h2{
        padding: auto;
        text-align: center;
    }
    #header-title{
            margin: 1.5vh;
        font-size:2em;
    }
    .header-subtitle{
        font-size: 1em;
    }

    .social-links{
        margin: 30px auto 0px auto ;
        padding: auto;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .social-links a{
        margin: auto;
        padding: auto;
    }

    .header-resume{
        font-size: medium;
        text-align: center;
        margin: 2vh;
    }
    

    .bg::before {    
        content: "";
        background-image: none;
    }

    .photo-cont{
        margin: 3vh auto;
    }

    .photo{
        height: 25vh;
        /* width: 350px; */
        border-radius: 50%;
        border: 0.5px solid #16a42b;
    }

    .navbar{
        height: 6.5vh;
        background-color: #16a42b;
        margin: 0px;
    }

    .navbar ul li a{
        padding: 5px;
        background-color: #16a42b;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        transition: all .5s;
        /* border: 0.1px solid black; */
    }

    #navlist{
        list-style-type: none;
        margin: 0;
        padding-top: 2%;
        padding-left: 0%;
        /* padding-left: 4%; */
        /* padding: 0px; */
        display: grid;
        /* grid-template-columns: 200px 200px 200px 200px 200px 150px; */
        grid-template-columns: auto auto auto auto auto auto;
        /* justify-content: left; */
        justify-content: space-around;
        text-align: center;
        overflow: hidden;
    }

    #focussed{
        background: #16a42b;
        color: black;
        border-radius: 2%;
    }

    /* resume */

    #resume{
        margin: 10px 10%;
        height: 70vh;
        width: 80%;
    }


    /* Education */

    .cardlist{
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .card{
        padding: 10px;
        margin: 0px 5vw;
        height: auto;
        width: 70vw;
        border: 3px solid #107a20;
        border-radius: 1%;
        display: grid;
        grid-template-columns: 20% 80%;
        background: white;
        justify-content: left;
        align-content: center;
        align-items: center;


        border-top: 2vw solid transparent;
        border-bottom: 2vw solid transparent;
        border-left: 2vw solid #16a42b;
        border-right: 2vw solid #16a42b;

    }
    
    .card-image{
        height: auto;
        width: 10vw;
    }

    #card-right{
        align-self: center;
    }
    
    #card-left{
        align-self: center;
    }

    .card-title{
        /* color: white; */
        color: black;
        text-align: left;
        font-size: smaller;
    }
    
    .card-subtitle{
        color: gray;
        text-align: left;
        font-size: x-small;
    }

    .card-subsubtitle{
        color: black;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: left;
        font-size: x-small;
    }

    .card-content ul{
        list-style: circle;
        padding: 5px 5px 0px 5px ;
    }

    .card-content ul li{
        list-style: circle;
        font-size: x-small;
    }

    /* Projects */

    .project-cardlist{
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    
    .project-container{
        width: 85vw;
        margin: 20px 20px 20px 0px;
    
    }
    
    .project-container a{
        display: grid;
        grid-template-columns: 10vw 75vw;
        /* justify-content: center; */
        align-items: center;
        text-decoration: none;
    }
    
    .project-design{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
    
    .project-card{
        padding: 20px;
        /* margin: 0px 10vw; */
        height: auto;
        width: 70vw;
        border: 3px solid #107a20;
        border-radius: 1.5%;
        background: white;
        align-content: center;
        align-items: center;
        transition: transform 0.5s;
        border-top: 2vw solid transparent;
        border-bottom: 2vw solid transparent;
        border-left: 2vw solid #16a42b;
        border-right: 2vw solid #16a42b;
    }
    
    .left-cont:hover > .project-card{
        transform: translateX(5vw);
    }
    
    .right-cont:hover > .project-card{
        transform: translateX(5vw);
    }

    .project-card-title{
        /* color: white; */
        color: black;
        font-size: smaller;
    }

    .project-card-subtitle{
        color: gray;
        font-size: x-small;
    }

    .project-card-content h4{
        font-size: smaller;
    }

    .project-card-content p{
        font-size: x-small;
    }

    .project-card-content ul li{
        font-size: x-small;
    }


    /* Achievements */


    .award-card{
        height: auto;
        width: 60vw;
        border: 3px solid #107a20;
        border-radius: 1.5%;
        background: white;
        align-content: center;
        align-items: center;
        /* transition: transform 0.5s; */
        border-top: 1.5vw solid transparent;
        border-bottom: 1.5vw solid transparent;
        /* border-left: 1.5vw solid #16a42b; */
        border-right: 1.5vw solid #16a42b;
    }


    .award-card-content{
        color: black;
        margin: 0.5vh 1vw;
        display: grid;
        grid-template-columns: 10% 90%;
        /* justify-content: center; */
        align-items: center;
}

    .award-emoji{
        font-size: x-small;
        /* padding: auto 1vw; */
    }
    .award-card-content ul li{
        font-size: x-small;
    }
  }


  
